@model IEnumerable<Product>

@{
    ViewBag.Title = "Restaurant Menu Items";
}

<h2>Restaurant Menu Items</h2>
<a asp-action="AddEdit" asp-controller="Product" class="btn btn-primary">Create new Item</a>
<div class="row">
    @foreach(Product prod in Model)
    {
        <div class="col-md-4">
            <form asp-action="delete" asp-controller="Product" method="post">
                <intput type="hidden" name="id" value="@prod.ProductId" />
                <div class="card" style="width:18rem;">
                    <img src="@Url.Content("/images/" +prod?.ImageUrl)" class="card-img-top fixed-image-height" alt="@prod.Description"/>
                    <div class=" card-body">
                        <h5 class="card-title">@prod.Name</h5>
                        <p class="card-text" >@prod.Description</p>
                        <p class="card-text" >@prod.Price.ToString("C")</p>
                        <p class="card-text" >Quanctity in stock: @prod.Stock</p>
                        <a class="btn btn-info"
                           asp-controller="Product"
                           asp-action="AddEdit"
                           asp-route-id="@prod.ProductId"><i class="bi bi-pencil-fill"></i>Edit</a>
                    </div>
                </div>
            
            </form>
        </div>
    }
</div>